*.aux
*~
/rakenne.lof
/rakenne.log
/rakenne.out
/rakenne.toc
/rakenne.bbl
/rakenne.blg
/raportti.lof
/raportti.log
/raportti.out
/raportti.pdf
/raportti.toc
.DS_Store
/lehtonen_siljander_pro_gradu.pdf
*.synctex.gz
/pics/tiheyskuvat/service_*
/pics/diffuusiokuvat/service_*
/plotting/.RData
/plotting/.Rhistory
