*.aux
*~
/rakenne.lof
/rakenne.log
/rakenne.out
/rakenne.toc
/rakenne.bbl
/rakenne.blg
/raportti.lof
/raportti.log
/raportti.out
/raportti.pdf
/raportti.toc
.DS_Store
/lehtonen_siljander_pro_gradu.pdf
/lehtonen_siljander_pro_gradu.synctex.gz
/pics/tiheyskuvat/service_orig_*
/pics/diffuusiokuvat/service_orig_*
